<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <script>
     <script src="app.js"></script>

　　　alert('Hello'); alert('Hello World');
    </script>
  </body>
</html>
